<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>mymodule</name>
    <displayName><![CDATA[My example module]]></displayName>
    <version><![CDATA[1.0]]></version>
    <description><![CDATA[This is my first module!]]></description>
    <author><![CDATA[Thiago Ferreira]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
</module>